@import url('https://cdn.syncfusion.com/ej2/material.css');
body {
  overflow-y: none;
  color: #232323;
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
  height: 90px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
  background-color: #2f2c2c;
  display: flex;
}

.main-menu-container {
  width: 1260px;
  height: 60px;
  margin: 0px auto;
  color: #fff;
  background: #2f2c2c;
}

.logo {
  width: 233px;
  height: 60px;
  margin: 0px;
  float: left;

  
  background-repeat: no-repeat;
}
.logo-break {
  width: 1027px;
  height: 60px;
  margin: 0px;
  float: left;
  background: #2f2c2c;
}
.search-container {
  width: 340px;
  height: 32px;
  line-height: 32px;
  margin-top: 3px;
  margin-right: 2px;
  float: right;
  background: #2f2c2c;
}

.search-button {
  display: inline-block;
  border: 0px;
  width: 30px;
  height: 40px;
  line-height: 40px;
  margin: 5px 0px 5px 305px;
  background: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
}
.youtube-user-top-header {
  background-size: cover;
  
}

.youtube-user-top-info-avatar {
  background: #fff;
  float: left;
  height: 110px;
  width: 110px;
  border-radius: 10px;
  border: 5px solid #fff;
  margin-top: -40px;
  margin-left: 30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(51, 3, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(51, 3, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(51, 3, 0, 0.2);
}
.youtube-user-title {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(17, 236, 229);
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
}
.youtube-user-top-header-background {
  

  height: 170px;
  width: 80vw;
  position: relative;
  
  margin-top: 100px;
  margin-left: 400px;
}

.youtube-user-top-info-wrap {
  width: 65vw;
  margin: 0px auto;
  background-color: white;
  height: 90px;
  position: relative;
}
.youtube-user-top-info {
  float: left;
  margin-top: 20px;
  margin-right: 48px;

  text-align: center;
}

.youtube-user-top-info-title {
  float: left;
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin: 0px;
  font-weight: 700;
  padding: 0px;
  margin-right: 130px;
  margin-left: 20px;
  margin-top: 10px;
}

.youtube-user-top-info-block-top {
  float: left;
  margin-top: 2px;
  margin-left: 10px;
}

.youtube-user-top-light {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #333;
}

.youtube-stats-header-uploads {
  font-size: 1em;
  color: #333;
}

/*custom style for the form input labels*/
label {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  color: white;
  font-weight: lighter;
  padding: 10px 40px;
}

input {
  height: 40px;
  margin: 5px 0px;
  width: 300px;
  padding: 0px 20px;
  border: 0px;
  background: #fff;
  color: #666;
  outline: none;
  float: left;
  position: absolute;
}
/*custom style for the form input placeholders*/
input::placeholder {
  font-size: 0.8em;
  font-weight: lighter;
  color: #333;
}

.channel-stats {
  font-size: 1.3em;
  display: relative;
}

/* Video Link Output */
.vidCard {
  color: #ccced3;
  padding: 0;
  margin: 0;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

Table {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-top-style: none;
  margin: 0 auto;
  width: 62vw;
}

.Table td,
.Table th {
  border: 1px solid #ddd;
  border-top-style: none;
  /* padding: 8px; */
}

.Table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Table tr:hover {
  background-color: #ddd;
}

.Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #444;
  color: white;
}

.pagination {
  padding: 0.5rem;
}

/* For Medium Screens */
@media (min-width: 774px) and (max-width: 1116px) {
  .videoTitle {
    float: left;
    width: 50%;
    padding: 15px 20px;
  }

  .videoTitle h2 {
    font-size: 1.2em;
    text-align: center;
  }

  .videoTitle p {
    font-size: 0.8em;
    max-height: 95px;
    text-overflow: ellipsis;
    margin: 0;
  }
}

/* For Smaller Screens */
@media all and (max-width: 773px) {
  .videoList li {
    width: 80vw;
    height: auto;
    margin: auto;
    color: whitesmoke;
    background-color: #333;
    list-style-type: none;
    border-radius: 5px;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
  }
  .videoTitle {
    width: 100%;
    text-align: center;
  }

  .videoTitle h2 {
    font-size: 1.8em;
    padding: 15px 15px 0 15px;
  }

  .videoTitle p {
    font-size: 0.8em;
    padding-left: 15px;
  }
}
